/*--------General Styles -------*/

html,
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  background-color: #f0f0f0;
}

.content-wrapper {
  max-width: 375px;
}

.container {
  width: 100%;
  height: 480px;
  display: flex;
  flex-flow: column;
  border: 1px solid #f0f0f0;
  border-radius: 20px;
  border-bottom-right-radius: 150px;
  background-color: #ffffff;
}

form {
  color: gray;
  display: flex;
  justify-content: center;
}

form div {
  width: 30%;
}

label {
  display: flex;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 10px;
}

input {
  font-size: 20px;
  border-radius: 5px;
  width: 70px;
  height: 40px;
  border: 1px solid lightgrey;
}

.break-line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.break-line hr {
  flex: 1;

  border-top: 1px solid lightgray;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

button {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: none;
}

button :hover {
  cursor: pointer;
}

.result {
  font-size: 66px;
  font-weight: 800;
  font-style: italic;
  line-height: 0;
}

span {
  color: hsl(259, 100%, 65%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*----- Margins & Padding -----*/

.container {
  margin: 35px;
  padding: 20px;
}

form {
  margin-bottom: 30px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 6px;
}

@media only screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 1440px;
  }

  .container {
    width: 45%;
    display: flex;
    flex-flow: column;
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    border-bottom-right-radius: 150px;
    background-color: #ffffff;
  }

  form {
    color: gray;
    display: flex;
    justify-content: flex-start;
  }

  form div {
    width: 23%;
  }

  label {
    display: flex;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 5px;
  }

  input {
    font-size: 30px;
    border-radius: 5px;
    width: 110px;
    border: 1px solid lightgrey;
  }

  .break-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .break-line hr {
    width: 90%;
    border-top: 1px solid lightgray;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  button {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    border: none;
  }

  .result {
    font-size: 86px;
    font-weight: 800;
    font-style: italic;
    line-height: 0;
  }

  span {
    color: hsl(259, 100%, 65%);
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  /*----- Margins & Padding -----*/

  .container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25%;
    padding: 40px;
  }

  form {
    margin-bottom: 5px;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    padding: 5px;
  }

  .break-line {
    margin-top: 15px;
  }
}
